<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861133097151-9mqbsrps2br15ne59ra1idma2oqj97lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861133097151-9mqbsrps2br15ne59ra1idma2oqj97lt</string>
	<key>API_KEY</key>
	<string>AIzaSyCODXBH18xS1teADPCzVseG7O70PpxV8Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>861133097151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LearnApp</string>
	<key>PROJECT_ID</key>
	<string>learnapp-c0814</string>
	<key>STORAGE_BUCKET</key>
	<string>learnapp-c0814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861133097151:ios:1d3ea19b7e454e689b9e0a</string>
</dict>
</plist>